.hero_section {
  height: 1000px;
  padding: 80px 0 80px 100px;
}
.hero_section_image {
  position: absolute;
  width: 600px;
  height: auto;
  left: 760px;
  top: 250px;
}
.hero_heading {
  font-family: Raleway;
  font-weight: bold;
  font-size: 96px;
  line-height: 113px;
  color: #111111;
  margin-bottom: 50px;
}
.section_content {
  width: 550px;
  padding: 40px 0 0;
}
.section_header {
  font-family: Raleway;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #111111;
  padding: 15px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.content_heading {
  font-family: Raleway;
  font-weight: 600;
  font-size: 20px;
  line-height: 42px;
  color: #111111;
  padding-bottom: 16px;
}
.content_info {
  font-family: Raleway;
  font-size: 18px;
  line-height: 42px;
  color: #343434;
}
