.section {
  padding: 84px 0px 0px 90px;
}
.section_heading {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #111111;

  padding-left: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.section_content {
  padding: 50px 100px 100px 10px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.content_heading {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
}
.content_body {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: "24px";
  color: #343434;
  padding-top: 20px;
}

/* Hero Section */
.hero_section {
  height: 800px;
  width: 100%;
  position: relative;
}
.lightbulb {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: auto;
  top: -12px;
  left: -25%;
  right: 25%;
}
.hero_content {
  z-index: 1;
  display: flex;
  justify-content: center;
  height: 100%;
}
.hero_body {
  flex: 0.55;
  height: 100%;
  padding: 70px 100px;
}
.greeting {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #343434;
}
.name {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 113px;
  color: #111111;
  padding-top: 40px;
  width: 360px;
}
.profession {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #343434;
  padding-top: 10px;
}
.intro {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #343434;
  padding-top: 30px;
}
.buttons {
  padding-top: 40px;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.hire_me,
.my_work {
  width: 187px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #111111;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
.hire_me {
  background-color: #111111;
  color: #ffffff;
}
.my_work {
  background-color: #ffffff;
  color: #111111;
}
.hero_image {
  flex: 0.45;
  height: 800px;
  border: 20px solid #111111;
  border-right: none;
  box-sizing: border-box;
  border-radius: 300px 0px 0px 0px;
}

/* About me section */
.image {
  height: 100%;
  width: 50%;
  padding: 0;
}
.verticalLine {
  width: 0px;
  height: 511px;
  border: none;
  border-left: 10px solid #111111;
  margin: 0 50px;
  transform: rotate(-180deg);
}

/* Things I do Section */
.card {
  min-width: 250px;
  width: 25%;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 20px 20px;
}
.card:last-child {
  border: none;
}
.hr {
  border: none;
  border-bottom: 10px solid #111111;
  margin: 30px auto;
  width: 80%;
}

/* Gallery Section */
.gallery {
  background: rgba(0, 0, 0, 0.2);
  /* height: 136vh; */
  display: grid;
  grid-template-columns: repeat(22, minmax(30px, auto));
  grid-template-rows: repeat(30, minmax(40px, auto));
  gap: 1px;
}

/* Testimonial Section */
.review_card {
  padding: 0 30px;
  width: auto;
  min-width: 350px;
  border-left: 10px solid #111111;
}
.review_card:first-child {
  border: none;
}
.box {
  border: 2px solid #111111;
  padding: 24px 24px 40px 24px;
}
.user {
  display: flex;
  align-items: center;
}
.user_profile {
  height: 60px;
  width: 60px;
  background-color: #e5e5e5;
  border-radius: 100%;
}
.user_name {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #111111;
  margin-left: 10px;
}
.review {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #343434;
  margin-left: 70px;
}
