.hero {
  height: 110vh;
}
.hero_image {
  position: absolute;
  width: 600px;
  height: auto;
  left: 820px;
  top: 160px;
}
.hero_heading {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 113px;
  color: #111111;
  padding: 54px 0 0 100px;
}
.section {
  padding: 84px 0px 0px 90px;
}
.section_header {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #111111;

  padding-left: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.section_content {
  padding-top: 32px;
  padding-left: 10px;
}
.content_header {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
}
.content_body {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 42px;
  color: #343434;
  padding-top: 20px;
}
.strip {
  position: relative;
  margin-right: 100px;
  padding: 72px 20px 72px 64px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.strip:last-child {
  border-bottom: none;
}
.strip:nth-child(even) {
  flex-direction: row-reverse;
}
.float {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: -1%;
  font-family: Raleway;
  font-weight: bold;
  font-size: 288px;
  color: rgba(231, 223, 34, 0.3);
}
.strip:nth-child(even) .float {
  left: 87%;
}
.image {
  width: 522px;
  height: 328px;
  margin-right: 60px;
}
.content {
  width: 50%;
  padding-top: 20px;
}
.heading {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
}
.info {
  padding-top: 20px;
  font-family: Raleway;
  font-weight: normal;
  font-size: 18px;
  line-height: 42px;
  color: #343434;
}
