.main {
  width: 100%;
  height: 89px;
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
}
.name {
  width: 152px;
  height: 42px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;

  color: #111111;
}
.hire_me_box {
  width: 187px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 10px;
  background: #111111;
}
.hire_me_icon {
  width: 24px;
  height: 24px;
}
.hire_me {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
}

/* Toggle Bar CSS */
.toggle_bar {
  width: 340px;
  display: flex;
  flex-direction: column;
}
.slider_box {
  height: 7px;
  /* padding: 0 10px; */
  width: 100%;
}
.slider {
  width: 28px;
  border-radius: 100px;
  height: 100%;
  background: #111111;
  position: relative;
  left: 12px;
  transition: ease-in-out 0.6s;
  /* animation: moveslider 1s infinite; */
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.nav_items {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  line-height: 21px;
  color: #343434;
}
.nav_items__active {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  cursor: pointer;
  font-size: 18px;
  line-height: 21px;

  color: #111111;
}
