.section {
  padding: 84px 0 84px 90px;
  background: rgba(231, 223, 34, 0.1);
  display: flex;
}
.section_content {
  padding: 0;
  width: 560px;
}
.vertical {
  border: none;
  margin: 0 auto;
  border-left: 10px solid #111111;
  transform: rotate(-180deg);
}
.content_header {
  padding: 0;
  font-family: Raleway;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #111111;
}
.content_body {
  margin-top: 32px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #343434;
}
.hire_me_button {
  margin-top: 60px;
  width: 187px;
  height: 64px;
  background: #111111;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.text {
  font-family: Raleway;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
